* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .topNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: #b60e0e;
  }
  
  .ham {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  .line {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
  }
  .close {
    position: absolute;
    opacity: 0.3;
    color: white;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(255, 255, 255);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  
  .menuX {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .sideNav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    background:#b60e0e;
    width: 300px;
    height: 100vh;
    overflow: hidden;
    color: white;
    /* hide the menu above the screen by default */
    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }
  
  .showNav {
    transform: translateX(0);
  }
  
  .sideNav ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 5rem;
  }
  
  .sideNav ul li a {
    display: block;
    color: white;
    padding-bottom: 10px;
    margin-top: 1rem;
    border-bottom: 2px solid black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
  }
  
  .sideNav ul li a:hover, .sideNav ul li a:focus {
    border-bottom: 2px solid white;
  }
  
  .overlay {
    position: fixed;
    display: none;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
  }
  
  .showOverlay {
    display: block;
  }
  
  section {
    width: 100%;
    height: 100vh;
    display: flex;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
  }
  
  section:nth-child(even) {
    background-color: rgb(245, 245, 245);
  }